vim.g.mapleader = " "
vim.g.maplocalleader = " "

local is_devcontainer = {{ if .devcontainer }}true{{ else }}false{{ end }}
local has_gui = {{ if .has_gui }}true{{ else }}false{{ end }}
local has_skk_large_dict = {{ if .has_skk_large_dict }}true{{ else }}false{{ end }}

require("core.options")
require("core.user_command")
require("keymaps.core")

vim.g.have_nerd_font = true

-- lazy.nvim bootstrap
local lazypath = vim.fn.stdpath("data") .. "/lazy/lazy.nvim"
if not (vim.uv or vim.loop).fs_stat(lazypath) then
  local out = vim.fn.system({
    "git",
    "clone",
    "--filter=blob:none",
    "--branch=stable",
    "https://github.com/folke/lazy.nvim.git",
    lazypath,
  })
  if vim.v.shell_error ~= 0 then
    error("Error cloning lazy.nvim:\n" .. out)
  end
end
vim.opt.rtp:prepend(lazypath)

require("lazy").setup({
  "NMAC427/guess-indent.nvim",
  { import = "lsp" },
  { import = "completion" },
  { import = "utilites" },
  { import = "ai" },
  { import = "languages" },
}, {
  ui = {
    icons = vim.g.have_nerd_font and {} or {},
  },
})

-- fcitxはdesktopだけ
if has_gui then
  local function fcitx_off()
    if vim.fn.executable("fcitx5-remote") == 1 then
      vim.fn.jobstart("fcitx5-remote -c")
    elseif vim.fn.executable("fcitx-remote") == 1 then
      vim.fn.jobstart("fcitx-remote -c")
    end
  end

  vim.api.nvim_create_autocmd({
    "VimEnter",
    "InsertEnter",
    "FocusGained",
  }, {
    callback = fcitx_off,
  })
end

-- devcontainerでは大辞書なし前提
if is_devcontainer and not has_skk_large_dict then
  vim.g.skk_dict_mode = "minimal"
else
  vim.g.skk_dict_mode = "full"
end
