export EDITOR=nvim
export VISUAL=nvim
export SHELL=/usr/bin/zsh

# common
if command -v starship >/dev/null 2>&1; then
  eval "$(starship init zsh)"
fi

if command -v zoxide >/dev/null 2>&1; then
  eval "$(zoxide init zsh)"
fi

if command -v sheldon >/dev/null 2>&1; then
  eval "$(sheldon source)"
fi

alias vi='nvim'
alias vim='nvim'
alias lg='lazygit'


{{ if .devcontainer }}
# devcontainer-specific
export DEVCONTAINER=1
export SKK_DICT_MODE=minimal

alias ll='ls -la'
alias nvim-ks='NVIM_APPNAME=nvim nvim'

# GUI依存のaliasやdesktopアプリ起動は入れない
{{ else }}
# desktop-specific
alias ll='ls -la'
alias nvim-ks='NVIM_APPNAME=nvim nvim'

# 必要ならGUI前提のaliasをここに置く
# alias browser='vivaldi'
{{ end }}
